<div class="container">
	<pre>
How to Create the Perfect Homepage Introduction
Your homepage copy is a huge factor in how successful your homepage will be.

Its the first thing your visitors will see, and it can serve as a short elevator pitch 
letting the visitor know what your site is about.

So your website introduction content absolutely needs to be compelling.

Fortunately, writing effective homepage copy doesnt need to be complicated. Thats why on this page, 
I will cover 11 tips you can use to design a page thats interesting enough to make visitors want to 
learn more, and successful in driving them to take action.

	</pre>
</div>

